table {
  table-layout: fixed;
}
input {
  max-width: 150px;
}

th {
  background-color: steelblue;
}

.tr-even {
  background-color: white;
}

.tr-odd {
  background-color: rgb(161, 184, 199);
}
#budget {
  float: right;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: #49b5e7;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button, input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 1em 0; 
}
/* general */

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0px auto;
  max-width: 900px;
}

.form-button {
  padding: 0.3rem 0.5rem;
  border: 1px solid #386980;
  background-color: steelblue;
  border-radius: 6px;
  color: whitesmoke;
  font-size: .9rem;
}
/* Header */

#Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
}

#Header .title {
  margin: 0;
  padding: 0 1rem;
  color: whitesmoke;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  font-weight: 175;
}

#Header .authOptions {
  height: 100%;
  display: flex;
}

#Header .authOptions button {
  padding: 0 1rem;
  background-color: slategrey;
  color: whitesmoke;
  font-size: 1.1rem;
}

/* #register {
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
} */

#Header .authOptions button:hover {
  background-color: rgb(191, 209, 226);
}

/* #login {
  height: 100%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
} */

#Header .authOptions button:hover {
  background-color: rgb(191, 209, 226);
}

/* form */
.form label, .form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #a9bfc9;
  border-radius: 6px;
  background-color: #d2d9dc;
  font-size: 1.1.rem;
}

.form input:focus {
  border: 1px solid #49b5e7;
  box-shadow: inset 0px 0px 5px #6aaac7;
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #386980;
  background-color: #4985a0;
  border-radius: 6px;
  color: whitesmoke;
  font-size: 1.1rem;
}

/* error notice */
.error-message {

  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-message button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}


/* @media screen and (max-width: 480px) {
  #Header .title {

  }
} */
